::selection {
  color: #ffffff;
  background-color: #31285c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #31285c;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-top: 20px;
}

.wrapper {
  width: 320px;
  min-height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.input-field {
  width: 100%;
  height: 45px;
  border: none;
  padding: 10px;
  background-color: #eeeeee;
  color: gray;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
  transition: 0.5s;
  border-radius: 5px;
}

input:hover {
}

.heading {
  color: #3b3663;
  margin-bottom: 20px;
}

.heading p {
  color: #aaa8bb;
}

.heading i {
  font-size: 30px;
  color: #4d61fc;
}

label {
  color: #aaa8bb;
  font-weight: 400;
}

button {
  width: 100%;
  height: 45px;
  border: none;
  color: #ffffff;
  background-color: #31285c;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #31283b;
}

.row {
  min-width: 5px;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
}

.custom-checkbox {
  width: 17px;
  height: 17px;
  border-radius: 5px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-right: 5px;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: #31285c;
}

input[type="checkbox"]:checked ~ .custom-checkbox::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  font-weight: 900;
  color: #ffffff;
}

footer {
  text-align: center;
  margin: 20px;
}
